body{
    font-family: 'Open Sans', sans-serif;
}
.breadcrumb-item{
    font-size: 0.8em !important;
}
.ellipsis{                      /* text가 너무 길 경우 줄임말 표시 (...) */
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.board-table{
    table-layout: fixed;
}
.board-table .date{
    width: 100px;
}

.post-body{
    white-space: pre-line;  /* "\n" 이 줄바꿈 역할을 할 수 있게 함 > 안하면 <br>만 줄바꿈됨 */
}
.post-info{
    font-size: 0.8em;
}
.user-form{
    width: 400px;
}