<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/nav') %>

        <div class="container mb-3">
            <h2 class="mb-3">About</h2>
            <p>이 사이트는 <a href="https://www.adcapsule.kr">애드캡슐소프트</a>에서 만들었다</p>
        </div>
    </body>
</html>